h2{
    font-family: 'Courier New', Courier, monospace;
}
img{
    height: 300px;
    width: 300px;
    padding: 0px 0px 0px 50px;
    
}
p{  color: rgb(30, 28, 28);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: justify;
    
    
    
}
li{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: gray;
}
#links{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: 300;
    color: dimgrey;
    text-align: center;
    margin: 0px 50px 0px 50px;

}
.f{
    width: 50%;
    text-align: right;
    padding-left: 50%;

}
.e{
    padding: 0px 50px 0px 50px;
}
h2{
    padding:0px 50px 0px 50px;
    margin: 50px;
}